.main{
  margin:0;
  padding:0;
}
.chart{
  height: 700px;
  width: max-content;
  margin: 50px auto;
  overflow: auto;
}

.chart .chart_error{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}

.stats {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.campaign_input{
  margin : 30px auto;
  display: flex;
  justify-content: center;
  align-items: space;
  gap:10px
  /* height: 200px;
  border: 3px solid green; */
}

.datePicker {
  margin-top : 10px;
  display: flex;
  justify-content: space-evenly;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  /* height: 200px;
  border: 3px solid green; */

}